
body {
    position: relative;
}







#home {
	background: white;
	color: black;
}

.animacao {
  color: white;
  
  transition: transform 1s;
  transform: translateX(0) scale(1.0);
  
}

.animacao:hover,
.animacao:focus {

  transform: translateX(10px) scale(1.1);
 
  
}




.caixa{
  padding: 100px 0;

}

